@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
*{
  box-sizing:border-box;

}

body {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
    height: auto;
    width: 100%;
    z-index: 100;
    top: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
}
.main-header{
  background-color: #0e0e0e;
  width: 100%
}



.logo {
  height: 85px;
}
.logo:hover{
  cursor: pointer;
  cursor: hand;
}
.dancing-tone:hover{
  cursor: pointer;
  cursor: hand;
}

.nav-content {
  color:  #EDF2F4;
  margin: auto;
  padding: 27px 30px;
  margin: auto 20px;
}

.menu-items{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
}

.nav-content:hover{
  background-color: #FF8322;
  cursor: pointer;
  cursor: hand;
}

.nav-contener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.dancing-tone{
  height: 87px;
  display: inline-block;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}

.menu-items{
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
section {
  background-image: url('./img/BVZ2rA.jpg');
  background-size: cover;
  text-align: center;
  height: 100%

}

.play-logo {
  margin: 15% auto 13%;
  width: 25%;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease

}
.play-logo:hover{
  cursor: pointer;
  cursor: hand;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);

}
/*asdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdfasdf*/

/*fsadfkasdlfkasjd;lfjas;ldkfj;aslkdjf;alskdjf;laskjd;lkfjasdfsa*

/*the Piano style starts here*/
.piano-div{
  padding-top: 199px;
  padding-bottom: 122px;
  padding-top: 139px;
  padding-bottom: 80px;
  margin-top: 60px;

}
.piano-dash-bord{

  height: 11%;
  width: 100%;
  z-index: 100;
  margin-top: 10px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
.piano-dash-bord h3{
  text-shadow: 2px 2px rgb(0, 0, 0);
    font-family: fantasy;
    color: rgba(146, 144, 144, 0.21);
}



.speakerR{
  width:: 90%;

}
#piano{
  width: 45%;
  height: 292px;
  margin: auto;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background: -webkit-linear-gradient(#111, #444);
  background: -o-linear-gradient(#222, #444);
  background: -moz-linear-gradient(#222, #444);
  background: linear-gradient(#000000, #a9a7a7);
  -webkit-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);

}
.light{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#ff7700;
  float:left;
  margin-right:10px;
  margin-top:25px;
}
.text{
  float:left;
  width:10%;
}
.text h1{
  font-family:metropolis;
  font-size:38px;
  color:#eee;
  line-height:60px;
}
#piano-container {
  width:95%;
  height:230px;
  background:#fff;
  margin:10px auto 0 auto;
}
#piano-container li {
  width: 7.14%;
  height:100%;
  float:left;
  list-style-type:none;
  position:relative;
}
.white {
  width:100%;
  height:100%;
  float:left;
  box-shadow:0 1px 1px rgba(0, 0, 0, .5);
  position:relative;
  z-index:1;
  background:#f5f5f5;
}
.white:active {
  box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -moz-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
  -ms-box-shadow:-1px 0 15px rgba(0, 0, 0, .7) inset;
}
.white:active  #goat{
  background-image:url(../img/Goat.gif);
}
.black {
  position:absolute;
  z-index:2;
  width:70%;
  height:120px;
  background:#000;
  right:-35%;
  box-shadow: 1px 0 #111, 0 2px 0 #111, 0 3px 0 #333, 0 4px 0 #333, 0 5px 0 #333, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555, 0 5px 0 #444, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  -moz-box-shadow: 1px 0 #333, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #666, 0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  -ms-box-shadow: 1px 0 #333, 0 2px 0 #555, 0 3px 0 #555, 0 4px 0 #666, 0 5px 0 #777, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
.black:active{
  box-shadow: 1px 0 #777, 0 2px 0 #777, 0 3px 0 #666, 0 4px 0 #555;
  -webkit-box-shadow: 1px 0 #555, 0 1px 0 #555, 0 1px 0 #444, 0 2px 0 #333;
  -moz-box-shadow: 1px 0 #111, 0 2px 0 #222, 0 3px 0 #222;
  -ms-box-shadow: 1px 0 #111, 0 2px 0 #222, 0 3px 0 #222;
}
#letters{
  text-align: center;
  z-index: 300;
  position: absolute;
  bottom: 0px;
  left: 9px;
  color: #c7c5c3

}
#lettersB{
  text-align: center;
  z-index: 300;
  position: absolute;
  bottom: 0px;
  left: 7.2px;
    color: #4a4848;
}
.piano-text{

  color: #f99845;
  margin-top: 34px;
  padding: 13.02px;
  font-family: cursive;
  -webkit-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 53, 247, 0.23);



}
.piano-text>h1{
  margin: 0;
}




.tutorialDir {
  width: 100%;
  float: left;
  margin-top: 77px
}
/*the piano style ends here*/

/* the listen styles app */
.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 100%;
  height: 1200px;
  min-height: 100%;
  background-color: inherit;
  color: #fff
}
.ngTopPanel {
  line-height: 25px;
  margin-top: 55px;
  background-color: #4C82B8;

}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
  background-color: inherit;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
  background-color: inherit;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
  background-color: inherit;
  color: #4c82b8;
  font-family: fantasy;
  font-size: 18px;
}
}

.ngGrid.unselectable {
  margin-top: 10px;
  background-color: inherit;
}
.the-play-icon{
  width: 200%;
  margin-left: 33px;
  }

.the-play-icon:hover{
  webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);

}


/* the listen style ends here */
.main-about{
  padding-top: 101px;
    padding-bottom: 184px;
}
.main-about > img {
  width: 17%;
  padding-top: 69px;
}





.about{
  color: rgba(255 , 255, 255, 0.8);
  font-family: cursive;
  -webkit-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  background-color: rgba(23, 40, 251, 0.14);
  margin-top: -41px;
  padding-top: 20px;
}


.about>h1{
  text-shadow: 2px 2px rgba(10, 31, 78, 0.7);
      font-family: fantasy;
}











footer {
  background-image: url('http://www.deluxeondemand.com/sites/default/files/footer-banner_1.jpg');
  background-size: contain;
  height: 20px;
  width: 100%;
  margin-top: 0;
  position: fixed;
  bottom: 0;
  margin-top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 25px 3px rgba(0, 0, 0, 0.5);
}
