<div class="piano-div">


   <div id="piano">
     <div class="piano-dash-bord">
       <div class="speaker">left

       </div>
       <div class="screen">screen

       </div>
       <div class="speaker">right

       </div>

     </div>
             <div id="piano-container">
                 <li>
                     <div class="white" ng-click='play()'>
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                 </li>
                 <li>
                     <div class="white" ng-click='play()'>
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                     <div class="black">
                     </div>
                 </li>
                 <li>
                     <div class="white">
                     </div>
                 </li>
             </div>
         </div>
    </div>
