<div class="piano-div">


   <div id="piano">
     <div class="piano-dash-bord">


       <h3>Javascript E Piano</h3>
       

     </div>
             <div id="piano-container">
                 <li>
                     <div id='113' class="white" ng-click='play()'><p id='letters'>
                       Q
                     </p>
                     </div>
                     <div id='50' class="black" ng-click='play2()'>
                       <p id='lettersB'>
                         2
                       </p>

                     </div>
                 </li>
                 <li>
                     <div id='119' class="white" ng-click='play3()'>
                       <p id='letters'>
                         W
                       </p>
                     </div>
                     <div id='51' class="black" ng-click='play4()'>
                       <p id='lettersB'>
                       3
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='101' class="white" ng-click='play5()'>
                       <p id='letters'>
                       E
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='114' class="white" ng-click='play6()'><p id='letters'>
                       R
                     </p>
                     </div>
                     <div id='53' class="black" ng-click='play7()'>
                       <p id='lettersB'>
                       5
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='116' class="white" ng-click='play8()'><p id='letters'>
                       T
                     </p>
                     </div>
                     <div  id='54'class="black" ng-click='play9()'>
                       <p id='lettersB'>
                        6
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='121' class="white" ng-click='play10()'><p id='letters'>
                       Y
                     </p>
                     </div>
                     <div id='55' class="black" ng-click='play11()'>
                       <p id='lettersB'>
                        7
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='117' class="white" ng-click='play12()'><p id='letters'>
                       U
                     </p>
                     </div>
                 </li>
                 <li>
                     <div id='118' class="white" ng-click='play13()'>
                       <p id='letters'>
                        V
                       </p>
                     </div>
                     <div id='103' class="black" ng-click='play14()'>
                       <p id='lettersB'>
                        G
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='98' class="white" ng-click='play15()'>
                       <p id='letters'>
                        B
                       </p>
                     </div>
                     <div id='104' class="black" ng-click='play16()'>
                       <p id='lettersB'>
                        H
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='110' class="white" ng-click='play17()'>
                       <p id='letters'>
                        N
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='109' class="white" ng-click='play18()'>
                       <p id='letters'>M</p>
                     </div>
                     <div id='107' class="black" ng-click='play19()'>
                       <p id='lettersB'>
                        K
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='44' class="white" ng-click='play20()'>
                       <p id='letters'>
                         ,
                       </p>
                     </div>
                     <div id='108' class="black" ng-click='play21()'>
                       <p id='lettersB'>
                        L
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='46' class="white" ng-click='play22()'>
                       <p id='letters'>
                         .
                       </p>
                     </div>
                     <div id='59' class="black" ng-click='play23()'>
                       <p id='lettersB'>
                        ;
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='47' class="white" ng-click='play24()'>
                       <p id='letters'>
                         /
                       </p>
                     </div>
                 </li>
             </div>
         </div>
         <div class="piano-text">
            <h1>Use your mouse or keyboard to play the piano</h1>
         </div>

    </div>
