<div class="piano-div">


   <div id="piano">
     <div class="piano-dash-bord">
       <div class="speaker">


       </div>
       <div class="screen">

       </div>
       <div class="speaker">

       </div>

     </div>
             <div id="piano-container">
                 <li>
                     <div id='C' class="white" ng-click='play()'><p id='letters'>
                       Q
                     </p>
                     </div>
                     <div id='CS' class="black" ng-click='play2()'>
                       <p id='lettersB'>
                         2
                       </p>

                     </div>
                 </li>
                 <li>
                     <div id='D' class="white" ng-click='play3()'>
                       <p id='letters'>
                         W
                       </p>
                     </div>
                     <div id='DS' class="black" ng-click='play4()'>
                       <p id='lettersB'>
                       3
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='E' class="white" ng-click='play5()'>
                       <p id='letters'>
                       E
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='F' class="white" ng-click='play6()'><p id='letters'>
                       R
                     </p>
                     </div>
                     <div id='FS' class="black" ng-click='play7()'>
                       <p id='lettersB'>
                       5
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='G' class="white" ng-click='play8()'><p id='letters'>
                       T
                     </p>
                     </div>
                     <div  id='GS'class="black" ng-click='play9()'>
                       <p id='lettersB'>
                        6
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='A' class="white" ng-click='play10()'><p id='letters'>
                       Y
                     </p>
                     </div>
                     <div id='AS' class="black" ng-click='play11()'>
                       <p id='lettersB'>
                        7
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='B' class="white" ng-click='play12()'><p id='letters'>
                       U
                     </p>
                     </div>
                 </li>
                 <li>
                     <div id='C2' class="white" ng-click='play13()'>
                       <p id='letters'>
                        V
                       </p>
                     </div>
                     <div id='CS2' class="black" ng-click='play14()'>
                       <p id='lettersB'>
                        G
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='D2' class="white" ng-click='play15()'>
                       <p id='letters'>
                        B
                       </p>
                     </div>
                     <div id='DS2' class="black" ng-click='play16()'>
                       <p id='lettersB'>
                        H
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='E2' class="white" ng-click='play17()'>
                       <p id='letters'>
                        N
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='F2' class="white" ng-click='play18()'>
                       <p id='letters'>M</p>
                     </div>
                     <div id='FS2' class="black" ng-click='play19()'>
                       <p id='lettersB'>
                        K
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='G2' class="white" ng-click='play20()'>
                       <p id='letters'>
                         ,
                       </p>
                     </div>
                     <div id='GS2' class="black" ng-click='play21()'>
                       <p id='lettersB'>
                        L
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='A2' class="white" ng-click='play22()'>
                       <p id='letters'>
                         .
                       </p>
                     </div>
                     <div id='AS2' class="black" ng-click='play23()'>
                       <p id='lettersB'>
                        ;
                       </p>
                     </div>
                 </li>
                 <li>
                     <div id='B2' class="white" ng-click='play24()'>
                       <p id='letters'>
                         /
                       </p>
                     </div>
                 </li>
             </div>
         </div>
    </div>
